/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    border-top: 10px solid red;
    border-bottom: 10px dotted green;
    text-align: center;
    width: 30%;
}

img {
    border-radius: 25%;
    width: 33%;
}

p {
    margin: 100px
}